.background{
	background-color: #80ceff;
	padding: 0;
    margin: 0;
    width: 100%;
    min-height: 30vh;
	
}

.top{
	margin-top: 10px
}

.feuchtigkeit{
    margin-left: 5px;
}

.icon{
    margin-top:-10px;
	margin-bottom: 7px;
}

.max-grad{
     margin-left: 4px;
	 font-size: 23px;
}

.min-grad{
     margin-top: -17px;
	 margin-left: -2px;
	 
}

.day{
    margin-top: -8px;
}

.day-month{
    margin-top: -3px;
	margin-left: -2px;
	
}